*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#4e54c8,#8f94fb);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{

width:700px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.3);

}

h1{

text-align:center;
margin-bottom:20px;
color:#333;

}

.input-box{

display:flex;
gap:10px;
margin-bottom:20px;
flex-wrap:wrap;

}

.input-box input{

padding:10px;
border:1px solid #ccc;
border-radius:5px;
flex:1;

}

button{

padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;

}

button:hover{

background:#388E3C;

}

ul{

list-style:none;

}

li{

display:flex;
justify-content:space-between;
align-items:center;
background:#f5f5f5;
padding:12px;
margin-bottom:10px;
border-radius:8px;

}

.completed{

text-decoration:line-through;
color:gray;

}

.icons i{

margin-left:15px;
cursor:pointer;
font-size:18px;

}

.fa-check{

color:green;

}

.fa-edit{

color:blue;

}

.fa-trash{

color:red;

}

.task-info{

display:flex;
flex-direction:column;

}